
// colors

$c-lightblue:   #7086af;
$c-lightblue2:  #949eb4;
$c-darkblue:    #1a3c6b;
$c-darkblue2:   #00153f;
$c-orange:      #ffa800;
$c-white:       #e1e5ed;
$c-gray:        #7c818c;


//fonts

$f-os-light:    'open_sanslight', 'sans-serif';
$f-os-regular:  'open_sansregular', 'sans-serif';
$f-os-italic:   'open_sansitalic', 'sans-serif';
$f-os-bold:     'open_sansbold', 'sans-serif';


//breakpoints

$br-lg:   1200px;
$br-md:   992px;
$br-sm:   768px;
$br-xs:   468px;
$br-exs:  320px;
